**/__pycache__/
**/*.py[oc]
**/*.pyd

**/.venv/
**/venv/
**/env/


**/.env
**/.env.*


.idea/
.vscode/
*.swp
*.swo


**/.DS_Store
**/Thumbs.db


backend/storage/*
!backend/storage/.gitkeep
backend/chroma_db/*

/model/

**/build/
**/dist/
**/*.egg-info/
**/.pytest_cache/
**/.coverage
**/htmlcov/


**/*.log